
#mainfm {
    border: 0.5px solid black;
    height: 100%;
    border-radius: 5%;
    box-shadow: 2px 2px black;
    margin: 10px;
    }



#img_dev {
    width: 250px;
    display: block;
    margin: auto;
    }

#img_logo {
    width: 120px;
    display: block;
    margin: auto;
    }

h3,
h1,
h6 {
    text-align: center;
    }

.dev {
    font-family: 'Courgette', cursive;
    font-size: 60px;
    }

.form_item {
    display: block;
    margin: auto;
    padding: 0px;
    }

.btn-success {
    font-size: 25px;
    }

.btn-warning {
    font-size: 20px;
    }

td {
    padding: 1px 0px;
    }

#error {
    color: red;
    text-align: center;
    }

#or {
    font-size: 15px;
    padding: 1px;
    }